@font-face {
  font-family: "Manrope";
  src: url(../fonts/ManropeExtraLight.woff2) format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/ManropeSemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/ManropeBold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/ManropeExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 20px;
  font-family: "Manrope", sans-serif;
  background-color: #FFE95A;
}

.container {
  display: grid;
  grid-template-columns: 1fr 335px;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  border: 5px solid #111111;
  box-shadow: 14px 14px 0px 0px #111111;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / 3;
  padding: 19px 27px;
  border-bottom: 5px solid #111111;
  background-color: #FFFFFF;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-button {
  padding: 9px 13px;
  border: 3px solid #111111;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  color: #111111;
  background-color: #FFFFFF;
  transition: .3s;
}

.nav-button:hover {
  color: #ffffff;
  background-color: #111111;
}

.logo {
  font-weight: 800;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0;
}

.profile {
  position: relative;
}

.profile-button {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 5px 9px;
  border: 3px solid #111111;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  background-color: #00E88F;
  transition: .3s;
}

.profile-button:hover {
  background-color: #0ed387;
}

.profile-button:active {
  background-color: #0aa96c;
}

.profile-button__img {
  width: 54px;
  height: 54px;
  pointer-events: none;
  border-radius: 100%;
  border: 3px solid #111111;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  min-width: 320px;
  border: 5px solid #111111;
  box-shadow: 10px 10px 0px 0px #111111;
}

.profile-dropdown.is-active {
  display: block;
}

.dropdown__header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-bottom: 5px solid #111111;
  background-color: #00E88F;
}

.dropdown-info__name {
  display: block;
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

.profile-dropdown__job-title {
  font-weight: 200;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-list__item:nth-child(1) .dropdown-list__link {
  background-color: #fff;
}

.dropdown-list__item:nth-child(2) .dropdown-list__link {
  background-color: #D9FF70;
}

.dropdown-list__item:nth-child(3) .dropdown-list__link {
  background-color: #9EEBFF;
}

.dropdown-list__item:nth-child(4) .dropdown-list__link {
  background-color: #FFD86B;
}

.dropdown-list__item:nth-child(5) .dropdown-list__link {
  background-color: #D8BCFF;
}

.dropdown-list__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 21px 15px 16px;
  border-bottom: 3px solid #111111;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  color: #111111;
  transition: .3s;
}

.dropdown-list__link:hover {
  color: #FFFFFF;
  background-color: #111111 !important;
}

.dropdown-list__item:last-of-type .dropdown-list__link {
  border-bottom: 0;
}

.dropdown-noty {
  min-width: 24px;
  height: 24px;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
  background-color: #111111;
  transition: .3s;
}

.dropdown-list__link:hover .dropdown-noty {
  color: #111111;
  background-color: #FFFFFF;
}

.main {
  padding: 60px 60px 54px 55px;
  border-right: 5px solid #111111;
  background-color: #FF8458;
}

.title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 82px;
  line-height: 90%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #111111;
}

.descr {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  color: #111111;
}

.start-button {
  min-width: 175px;
  padding: 12px 24px;
  border: 4px solid #111111;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  color: #111111;
  background-color: #FFFFFF;
  transition: .3s;
}

.start-button:hover {
  color: #ffffff;
  background-color: #111111;
}

.aside {
  padding: 28px 23px 28px 28px;
  background-color: #FFFFFF;
}

.aside-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.aside-list__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  border: 4px solid #111111;
  background-color: #F5F5F5;
}

.aside-list__item b {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0;
  color: #111111;
}

.aside-list__item span {
  font-weight: 200;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  color: #111111;
}
